body {
   margin: 0;
   padding: 0;
}

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 350px;
	margin-left: 350px;
	margin-top: 0px;
	margin-bottom: 50px;

}

.head2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 350px;
	margin-left: 350px;
	margin-top: 150px;
	margin-bottom: 50px;

}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.paragraph1 {
	width: 400px;
	margin-right: 80px;
	margin-left: 80px;
	margin-right: 80px;
}

.paragraph2 {
	width: 400px;
	margin-left: 80px;
	margin-right: 80px;
}

.paragraph3 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
	margin-bottom: 50px;
}

.paragraph4 {
	width: 400px;
    margin-top: 150px;
	margin-right: 80px;
	margin-left: 80px;
	margin-right: 80px;
}

.Ilus5 {
	margin-top: 100px;
}


input[type=reset] {
  background-color: #EE5335;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  color: #002139;
  font-family: CircularStd-Medium;
  font-size: 20px;
  margin: 4px 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 100px;

}

input[type=submit] {
  background-color: #EE5335;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  color: #002139;
  font-family: CircularStd-Medium;
  font-size: 20px;
  margin: 4px 10px;
  cursor: pointer;
  margin-top: 50px;

}

input[type=email], input[type=name] {
  background-color: none;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  color: #002139;
  font-family: CircularStd-Book;
  font-size: 20px;
  margin: 0px 20px;
  cursor: pointer;

}

input[type=date] {
  background-color: none;
  border: 2px solid #EE5335;
  padding: 16px 32px;
  text-decoration: none;
  color: #002139;
  font-family: CircularStd-Book;
  font-size: 20px;
  margin: 4px 8px;
  cursor: pointer;

}



input:hover {
  color: #CED5DA;
  cursor: none;
}

body {
	background-color: #EFF3F6;
	cursor: url("White-Pointer.png"), auto !important;
}

li {
	color: #002139;
	font-family: CircularStd-Book;
	font-size: 17px;
	display: inline-block;
	padding: 10px 20px;

}

a {
	color: #9BAFBD;
	text-decoration: none;
	cursor: none;
}

a:hover {
  color: #CED5DA;
  cursor: none;
}

h1 {
	color: #002139;
	font-family: CircularStd-Bold;
	font-size: 40px;
	text-align: center;
}


p {
	color: #002139;
	font-family: CircularStd-Medium;
	font-size: 30px;
}


img {
	transition: all 1s;
	width: 800px
}

img:hover {
	transform: scale(1.1);
}

form {
	color: #002139;
    font-family: CircularStd-Medium;
    font-size: 20px;
	line-height: 90px;
	t

}

nav {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0;

}

footer {
	color: #002139;
	font-family: Canela-Medium;
	font-size: 18px;
	line-height: 1.2em;
	text-align: center;
	background-color: white;
	border: 15px solid white;
	width: 100%;
}

#adam {
	font-family: Canela-Medium;
	font-size: 80px;
}

#adam2 {
	font-family: Canela-Medium;
	font-size: 30px;
	color: #EF6336;
}

#adam3 {
	font-family: Canela-Medium;
	font-size: 150px;
	color: #000a21;
}




